<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368665369493-9n18urnnd51dt42s5vgpr3ndtkun2eim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368665369493-9n18urnnd51dt42s5vgpr3ndtkun2eim</string>
	<key>API_KEY</key>
	<string>AIzaSyCKhhhH7_5HfvhTAx6wRKkcogWZjyesFxk</string>
	<key>GCM_SENDER_ID</key>
	<string>368665369493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sparkhubApp</string>
	<key>PROJECT_ID</key>
	<string>sparkhub-app-database</string>
	<key>STORAGE_BUCKET</key>
	<string>sparkhub-app-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368665369493:ios:837de3574d66be7eb9749c</string>
</dict>
</plist>